h2 {
    color: black;
}

h3 {
    color: black;
}

h4 {
    color: black;
}

p {
    color: black;
}

a{
    color: cyan;
}

footer{
    color: lightblue
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.certificate-img {
    width: 110px;
    height: 110px;
}
